
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full width layout */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Epunda Slab', sans-serif; /* Apply globally */
  background-color: #fff;
  color: #0e975c; /* Dark green for text */
}

/* Main containers */
app-root,
app-header,
app-footer,
main,
footer {
  width: 100%;
}
